#img-sub-container{
    background-image:
    linear-gradient(to bottom, rgba(143, 145, 155, 0.527), rgba(0, 0, 0, 0.774)),
    url('https://images.unsplash.com/photo-1569173675610-42c361a86e37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1467&q=80');
    background-size: cover;
    color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-origin: content-box; 
  }

#image-container .donate-div button {
      filter: none !important;
}

.donate-div {
    top: 2%;
    left: 57%;
}

.first-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.first-image-container::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(46, 88, 147, 0.7));
  z-index: 1; /* Ensure the gradient is behind the image */
}

.first-image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio and cover the container */
    z-index: 2; /* Ensure the image is on top of the gradient */
}

.text-container {
    top: 50%;
    transform: translateY(-50%);
}

.donation-box {
    background: linear-gradient(to bottom, rgba(255,255,255, .4), rgba(255, 255, 255, 1));
}

*, ::after, ::before {
    box-sizing: border-box;
}



/* #firstImageContainer::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(46, 88, 147, 0.7));
  z-index: 1;
} */


#first-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



#img {
    /* Preserve aspect ratio and cover the container */
    z-index: 1; /* Ensure the image is on top of the gradient */
}

#gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(46, 88, 147, 0.7));
    z-index: 2;
}

.text-container {
    top: 50%;
    transform: translateY(-50%);
}


@media screen and (max-width: 650px) {
    .donate-div {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

