@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.footer {
  margin-top: auto;
}

.hoverable img {
  opacity: 1;
  transition: opacity 0.5s ease; /* Adjust the duration and easing as needed */
}

.hoverable:hover img {
  opacity: 0;
}
