@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

.text-content {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.sub-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
}

.sub-text-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
}

.sub-text-400 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 16px;
}

.sub-text-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 600; /* semi-bold */
  color: black;
  font-size: 16px;
}

.nav-bar-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: black
}

.header-text-600 {
  font-family: "Bebas Neue", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 53px;
  letter-spacing: 2px;
}

.header-text-400 {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 33px;
  letter-spacing: 2px;
}

.header-sub-text {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 30px;
  letter-spacing: 1px;
  color: black;
}

.background-color-blue {
  background-color: #2e5893;
}

.background-color-light-blue {
  background-color: #4C4D4C;
}

.background-header-text {
  color: white;
}

.navigation-level-1:hover #dropdown {
  display: block;
  position: absolute;
}

/* .navigation-level-2 {
  position: relative !important;
 } */

.navigation-level-2:hover #dropdown-2 {
  display: block;
  position: absolute;
  z-index: 999;
  min-width: 11rem;
}

.component-padding-global-top-bottom {
  padding: 3rem 0;
}

.sub-component-padding-top-bottom {
  padding: 2rem 0;
}
.renukiran-bg-green-color {
  background-color: #81C421;
}

.renukiran-green-color {
  color: #81C421;
}

.renukiran-blue-color {
  color: #2e5893;
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.footer {
  margin-top: auto;
}

.hoverable img {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hoverable:hover img {
  opacity: 0;
}

#razorpay-donation-btn{
  height: 20;
  width: 40;
  background-color: black;
}

.line-clamp-4-css {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.our-work-bg-img {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/renukiran-a6410.appspot.com/o/Plantation%2Fclimate-1.jpg?alt=media&token=4efd6cc3-bcdb-4018-9132-6cd69e915423');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 50%;
}

@keyframes float {
  0% { transform: translate(-50%, -50%) rotate(0deg) translateY(0px); }
  50% { transform: translate(-50%, -50%) rotate(180deg) translateY(-20px); }
  100% { transform: translate(-50%, -50%) rotate(360deg) translateY(0px); }
}

@keyframes twinkle {
  0% { transform: scale(0); opacity: 0; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}