*,
::after,
::before {
    box-sizing: border-box;
}

.hero-section {
    -webkit-clip-path: polygon(100% 0, 0 0%, 50% 135%);
    clip-path: polygon(100% 0, 0 0%, 50% 135%);
    position: absolute;
    left: -15%;
    top: 0;
    opacity: 88%;
    width: 80%;
    height: 100vh;
    background-color: rgba(46, 88, 147, 1, 0.91);
}


/* CSS for circular background */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.ourValuesPosican .ourValuesOverlayText .largeContent .heading:before {
    content: "";
    position: absolute;
    height: 4px;
    background: var(--white);
    width: 100%;
    top: -15px;
}


.ourValuesPosican .ourValuesOverlayText .largeContent .heading {
    font-size: 22px;
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
}


.item h2 {
    z-index: 10;
    font-weight: 700;
    font-size: larger;
}

.circle {
    width: 170px;
    height: 170px;
    background: #2d9f44;
    /* Background color for the circle */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* Center the circle horizontally */
}

/* Add any additional styling you want for the circle here */
.circle h2 {
    margin-top: 10px;
    /* Adjust the spacing between the circle and text */
    color: white;
    /* Text color inside the circle */
}

/* Rest of your CSS styles go here */
.circle::after {
    content: '';
    height: 170px;
    width: 170px;
    background-color: #2e5893;
    position: absolute;
    border-radius: 50%;
    top: calc(10%);
    left: calc(18% + 12%);
    opacity: 0;
    z-index: 0;

}

.circle::before:hover {
    height: 220px;
    width: 220px;
}

.hero-section h1 {
    top: 50%;
    left: calc(18.9% + 16%);
    font-size: 50px;
    line-height: 45px;
    transform: translateY(-50%);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 10px 0 0;
    margin-bottom: 12px;
    color: white;
}

#last-section {
    position: absolute;
    top: 0;
    width: 44%;
    height: 100%;
    left: -14%;
    -webkit-transform: skewX(-28deg);
    transform: skewX(348deg);

    background-color: #2e5893;
    opacity: 88%;
}

#last-section h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: skewX(11deg);
    font-size: 30px;
    font-weight: 900;
    color: white;
}


.partners-image {
    width: 100%;
    position: relative;
    max-width: 200px;
    aspect-ratio: 16/6;
    /* Set the aspect ratio for each image */
    /* Adjust this alignment as needed */
}



.hero-section .donation-button {
    top: 60%;
    left: calc(18.9% + 18%);
    background-color: #193d70;
    margin-top: 20px;
}


.hero-section .donation-button {
    top: 60%;
    left: calc(18.9% + 18%);
    background-color: #193d70;
    margin-top: 20px;
}

#about {
    position: relative;
}

.description {
    display: none;
    position: absolute;
    top: 100%; /* Position it below the icon */
    left: -40%;
    transform: translateX(-50%); /* Center it horizontally */
    background-color: #fff; /* Tooltip background color */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust the width as needed */
    z-index: 1; /* Ensure it's above other elements */
    font-size: 14px;
    padding: 1rem;
}

#about:hover .description {
    display: block;
}

@media (max-width:800px) {
    .description {
        width: 350px;
        height: auto;
        left: -150%;
    }
}

@media (max-width: 991px) {
    #last-section {
        width: 80%;
    }

}

@media (max-width: 991px) {
    #last-section {
        width: 60%;
        left: -21%;
    }
}

@media only screen and (max-width: 1365px) {
    #last-section {
        width: 50%;
    }
}

@media only screen and (max-width: 1439px) {
    #last-section {
        width: 50%;
    }
}


@media only screen and (max-width: 1439px) {
    #last-section {
        width: 50%;
    }
}

@media only screen and (max-width: 1439px) {
    .hero-section h1 {
        font-size: 50px;
        line-height: 45px;
        top: 50%;
        left: calc(18.9% + 18%);
    }
}

@media only screen and (min-width: 1439px) {
    .hero-section .donation-button {
        top: 60%;
        left: calc(18.9% + 16%);
    }
}

@media only screen and (max-width: 1365px) {
    .hero-section h1 {
        font-size: 42px;
        line-height: 45px;
    }
}

@media only screen and (max-width: 1090px) {
    .hero-section h1 {
        font-size: 35px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 950px) {
    .hero-section h1 {
        font-size: 30px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 650px) {
    .carousel {
        min-height: 50vh;
    }
}

@media only screen and (max-width: 1365px) {
    .hero-section {
        left: -19%;
    }
}

@media only screen and (max-width: 1439px) {
    .hero-section {
        left: -18.9%;
    }
}

@media only screen and (max-width: 1365px) {
    .ourValuesPosican .ourValuesOverlayText .largeContent .heading {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1439px) {
    .ourValuesPosican .ourValuesOverlayText .largeContent .heading {
        font-size: 18px;
    }
}